body {
    background-color: darkslategrey;
    margin: 20px 50px;
    text-align: center;
}

.submittedtext {
    background-color: #c0d7f1;
    height: 430px;
    overflow-y: scroll;
}

.text-container {
    background-color: #f3e8ac;
    text-align: center;
    height: 130px;
}

.text-container > textarea {
    resize: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.submit {
    margin: auto;
}

.message-container {
    border: 1px solid black;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.message-container > button {
    padding: auto;
}

.renderedtext {
    text-align: left;
}